body {
    height: 100vh;
}

.center {
    text-align: center;
}

.center > h1 {
    display:   inline-block;
    font-size: 4em;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip:  text;
    color:            transparent;
}
