/**
 * Allgemeine Stile
 */

:root {
    --navigation-background-color: #4b1131;
    --common-text-color:           white;
    --body-background-color:       #731b47;
    --common-background-color:     #c02f76;
    --navbar-height:               50px;
    --header-height:               200px;
}

html, body {
    margin:  0;
    padding: 0;
}

body {
    height:           100vh;
    background-color: var(--body-background-color);
    color:            var(--common-text-color);
}

.navbar {
    background-color: var(--navigation-background-color);
    color:            var(--common-text-color);
    height:           var(--navbar-height);
    display:          block;
    float:            left;
    width:            100%;
}

.container {
    max-width: 1280px;
    margin:    auto;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

/**
 * Navigationsleiste
 */

ul.inline {
    list-style-type: none;
    display:         flex;
    width:           100%;
    float:           left;
    margin:          0 0 0 -10px;
    padding:         0;
}

ul.inline > li {
    padding: 0;
    margin:  0;
}

ul.inline > li > a {
    padding:         16px 20px;
    display:         block;
    color:           var(--common-text-color);
    text-decoration: none;
}

ul.inline > li > a:hover {
    background-color: var(--body-background-color);
}

/**
 * Banner
 */

#headerImage {
    width:      100%;
    max-height: var(--header-height);
    float:      left;
}

/**
 * Main-Container
 */

#mainContainer {
    background-color: var(--common-background-color);
    padding:          10px;
    min-height:       calc(100% - var(--header-height) - var(--navbar-height) - 20px);
}

/**
 * Künstler-Boxen
 */

div.artistGrid {
    display:               grid;
    grid-template-columns: repeat(4, 1fr);
}

div.artist {
    width:  290px;
    height: 290px;
    margin: 10px;
    border: 5px solid black;
}

div.artist > .artist-name, div.artist > .artist-details {
    padding:          10px;
    text-transform:   uppercase;
    display:          block;
    background-color: var(--navigation-background-color);
    height:           20px;
}

div.artist > .artist-image {
    max-width:  100%;
    max-height: 100%;
    display:    block;
    margin:     0 auto;
}

div.artist > .artist-details {
}